/front-end/node_modules/
/front-end/package-lock.json
/back-end/node_modules/
/back-end/secure/*
/node_modules/
/front-end/yarn-error.log
/front-end/yarn.lock
/fron-end/rest-api-client/secure/*
.git/
